################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MAppAPI/FileContentIndex/428c9739-e137-44e8-a35b-7084624f88b1.vsidx
/.vs/MAppAPI/FileContentIndex/adfebc26-79ce-4aeb-a118-a30b123537cb.vsidx
/.vs/MAppAPI/FileContentIndex/af26b5b6-ae85-4a98-a369-ee9ff2c83161.vsidx
/.vs/MAppAPI/FileContentIndex/c3630ded-1d89-4649-9692-eb4298e1dbbf.vsidx
/.vs/MAppAPI/FileContentIndex/cc74113a-3b52-4479-88a5-501aab84e9eb.vsidx
/.vs/MAppAPI/FileContentIndex/df146f8c-2a57-4d90-9e9e-1aa725c2a46f.vsidx
