################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MAppAPI/FileContentIndex/428c9739-e137-44e8-a35b-7084624f88b1.vsidx
/.vs/MAppAPI/FileContentIndex/adfebc26-79ce-4aeb-a118-a30b123537cb.vsidx
/.vs/MAppAPI/FileContentIndex/af26b5b6-ae85-4a98-a369-ee9ff2c83161.vsidx
/.vs/MAppAPI/FileContentIndex/c3630ded-1d89-4649-9692-eb4298e1dbbf.vsidx
/.vs/MAppAPI/FileContentIndex/cc74113a-3b52-4479-88a5-501aab84e9eb.vsidx
/.vs/MAppAPI/FileContentIndex/df146f8c-2a57-4d90-9e9e-1aa725c2a46f.vsidx
/.vs/MAppAPI/v17/.suo
/MApp.Common/bin/Debug/net8.0/MApp.Common.dll
/MApp.Common/bin/Debug/net8.0/MApp.Common.pdb
/MApp.Common/obj/Debug/net8.0/MApp.Common.dll
/MApp.Common/obj/Debug/net8.0/MApp.Common.pdb
/MApp.Common/obj/Debug/net8.0/ref/MApp.Common.dll
/MApp.Common/obj/Debug/net8.0/refint/MApp.Common.dll
/MApp.DataAccess/bin/Debug/net8.0/MApp.Common.dll
/MApp.DataAccess/bin/Debug/net8.0/MApp.Common.pdb
/MApp.DataAccess/bin/Debug/net8.0/MApp.DataAccess.dll
/MApp.DataAccess/bin/Debug/net8.0/MApp.DataAccess.pdb
/MApp.DataAccess/obj/Debug/net8.0/MApp.DataAccess.dll
/MApp.DataAccess/obj/Debug/net8.0/MApp.DataAccess.pdb
/MApp.DataAccess/obj/Debug/net8.0/ref/MApp.DataAccess.dll
/MAppAPI/bin/Debug/net8.0/MApp.Common.dll
/MAppAPI/bin/Debug/net8.0/MApp.Common.pdb
/MAppAPI/bin/Debug/net8.0/MApp.DataAccess.dll
/MAppAPI/bin/Debug/net8.0/MApp.DataAccess.pdb
/MAppAPI/bin/Debug/net8.0/MAppAPI.dll
/MAppAPI/bin/Debug/net8.0/MAppAPI.exe
/MAppAPI/bin/Debug/net8.0/MAppAPI.pdb
/MAppAPI/obj/Debug/net8.0/apphost.exe
/MAppAPI/obj/Debug/net8.0/MAppAPI.dll
/MAppAPI/obj/Debug/net8.0/MAppAPI.pdb
/MAppAPI/obj/Debug/net8.0/ref/MAppAPI.dll
/MAppAPI/obj/Debug/net8.0/refint/MAppAPI.dll
/MApp.Common/obj/Debug/net8.0/MApp.Common.AssemblyInfo.cs
/MApp.Common/obj/Debug/net8.0/MApp.Common.AssemblyInfoInputs.cache
/MApp.Common/obj/Debug/net8.0/MApp.Common.sourcelink.json
/MApp.DataAccess/obj/Debug/net8.0/MApp.DataAccess.AssemblyInfo.cs
/MApp.DataAccess/obj/Debug/net8.0/MApp.DataAccess.AssemblyInfoInputs.cache
/MApp.DataAccess/obj/Debug/net8.0/MApp.DataAccess.csproj.AssemblyReference.cache
/MApp.DataAccess/obj/Debug/net8.0/MApp.DataAccess.sourcelink.json
/MApp.DataAccess/obj/Debug/net8.0/refint/MApp.DataAccess.dll
/MAppAPI/obj/Debug/net8.0/MAppAPI.AssemblyInfo.cs
/MAppAPI/obj/Debug/net8.0/MAppAPI.AssemblyInfoInputs.cache
/MAppAPI/obj/Debug/net8.0/MAppAPI.csproj.AssemblyReference.cache
/MAppAPI/obj/Debug/net8.0/MAppAPI.sourcelink.json
/.vs/MAppAPI/FileContentIndex/4331000b-5ba7-4b76-a7f1-f8fe0bf232dc.vsidx
/.vs/MAppAPI/v17/.futdcache.v2
/.vs/ProjectEvaluation/mappapi.metadata.v7.bin
/.vs/ProjectEvaluation/mappapi.projects.v7.bin
/.vs/MAppAPI/FileContentIndex/
